@page
@model CartModel

<h2>Your cart</h2>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-center">Quantity</th>
			<th class="text-start">Item</th>
			<th class="text-end">Price</th>
			<th class="text-end">Subtotal</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.Cart.Lines)
		{
			<tr>
				<td class="text-center">@line.Quantity</td>
				<td class="text-start">@line.Product.Name</td>
				<td class="text-end">@line.Product.Price.ToString("C")</td>
				<td class="text-end">@line.ComputeSubtotalValue().ToString("C")</td>
				<td class="text-center">
					<form asp-page-handler="Remove" method="post">
						<input type="hidden" name="ProductID" value="@line.Product.ProductID" />
						<input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
						<button type="submit" class="btn btn-sm btn-danger">Remove</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td class="text-end" colspan="3">Total:</td>
			<td class="text-end">@Model.Cart.ComputeTotalValue().ToString("C")</td>
		</tr>
	</tfoot>
</table>

<div class="text-center">
	<a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
</div>